#about {
  margin-top: 60px;
  width: 1500px;

  
}

.about {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  /* width: 100%; */
  /* background-color: aqua; */
}

.header {
  font-size: 26pt;
  margin: 30px;
}

.about_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  background-color: rgb(232, 208, 185);
  margin-left: 50px;
  width: 100%;
  height: 150px;
  padding: 30px;
  font-size: 15pt;
}
.about_box_full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 100%; */
  height: auto;
  padding: 0 40px 0 40px ;
  /* margin-right: 50px; */
  border-radius: 15px;
  font-size: 15pt;
}

.about_segment {
  margin-bottom: 1rem;
}

.avatar {
  margin-left: 30px;
  border-radius: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}
