.project {
  position: relative;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  width: 390px;
  height: 230px;
  background-color: #ffffff;
  border-radius: 15px;
  /* box-shadow: 2px 2px rgba(49, 49, 49, 0.35); */
  box-shadow: 5px 5px 9px rgb(205, 205, 205);
  /* padding: 10px; */
  margin-bottom: 30px;
  background-color: rgba(49, 49, 49, 0.35);
  overflow: hidden;
  cursor: pointer;
}
.gif {
  width: 395px;
  height: 235px;
}
.title {
  font-size: 20pt;
}

.coverTitle {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  color: transparent;
  padding: 20px;
  z-index: 5;
  width: 100%;
  height: 75%;
  background-color: transparent;
  position: absolute;
  transition: 0.2s;
  opacity: 0;
  /* visibility:collapse; */
  margin-bottom: 60px;
  z-index: 5;
}
.coverTitle:hover {
  opacity: 1;
  /* visibility:visible; */
  color: rgb(49, 49, 49);
  width: 100%;
  height: 100%;
  background-color: rgba(222, 222, 222, 0.90);
  position: absolute;
}
.innerCover {
  display: flex;
  /* box-sizing: border-box; */
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  /* color: transparent; */
  /* padding: 20px; */
  /* z-index: 5; */
  /* width: 100%;
  height: 100%; */
  /* background-color: transparent; */
  /* position:absolute; */
  /* transition: 0.4s; */
}

.contactLogo {
  width: 25px;
  height: 25px;
  padding-right: 10px;
}
